@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin style-list {
    list-style-type: none;
    text-decoration: none;
}

@mixin flex-main {
    display: flex;
    flex-wrap: wrap;
}

@mixin single-card {
    flex-basis: calc(100% / 6)
}